<!DOCTYPE html>
<html>
<head>
    <title>Example Legacy App</title>
    <meta charset="utf-8" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Styles.css" />

    <script src="~/Scripts/client/dist/vendor.bundle.js"></script>
    <script src="~/Scripts/client/dist/app.bundle.js"></script>
</head>
<body>
	@RenderBody()
</body>
</html>
